<div class="card bgLight">
  <div class="container py-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-12 pe-md-5 pe-0 d-none d-md-block">
          <h1 class="display-5">DAINN</h1>
          <p class="lead">
            Chào bạn ghé chơi DAINN – ngôi nhà nhỏ chuyên tám chuyện lớn! Ở đây
            không có giáo điều, chỉ có những trải nghiệm “xịn xò”, câu chuyện
            “trời ơi đất hỡi” và loạt chia sẻ thật như đếm từ những con người
            siêu bình thường nhưng cũng siêu thú vị. Bạn mang chuyện, tụi mình
            mang blog, hợp lý quá còn gì?
          </p>
          <hr />
          <small>
            Từ cú trượt vỏ chuối đầu đời đến lần “cãi sếp win” trong truyền
            thuyết – tụi mình ghi lại hết ở đây! Bạn có thể tìm thấy các mẹo
            sống sót nơi công sở, hành trình săn sale thần tốc, hay thậm chí là
            bí kíp làm cà phê không bị đắng lòng. DAINN là nơi ai cũng được chia
            sẻ, được cười, và được là chính mình! 😎
          </small>
          <hr />
          <button class="btn btn-dark me-3" routerLink="/all_blogs">
            Xem các blog
          </button>
          <a class="btn btnLight" routerLink="/login">Đăng nhập</a>
        </div>

        <div class="col-md-4 col-12">
          <form #signupForm="ngForm" (ngSubmit)="signUp()" class="row g-3">
            <div class="col-md-6 col-12">
              <label class="form-label">Tên*</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="first_name.touched && first_name.invalid"
                required
                #first_name="ngModel"
                [(ngModel)]="signupData.data.first_name"
                name="first_name"
              />
              <small
                *ngIf="first_name.touched && first_name.invalid"
                class="text-danger"
              >
                Điền vào trường này!
              </small>
            </div>

            <div class="col-md-6 col-12">
              <label class="form-label">Họ*</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="last_name.touched && last_name.invalid"
                required
                #last_name="ngModel"
                [(ngModel)]="signupData.data.last_name"
                name="last_name"
              />
              <small
                *ngIf="last_name.touched && last_name.invalid"
                class="text-danger"
              >
                Điền vào trường này!
              </small>
            </div>

            <div class="col-12">
              <label class="form-label">Địa chỉ Email*</label>
              <input
                type="email"
                class="form-control"
                [class.is-invalid]="email.touched && email.invalid"
                required
                #email="ngModel"
                [(ngModel)]="signupData.data.email"
                name="email"
              />
              <small *ngIf="email.touched && email.invalid" class="text-danger">
                Điền vào trường này!
              </small>
            </div>

            <div class="col-12">
              <label class="form-label">Mật khẩu*</label>
              <input
                type="password"
                class="form-control"
                [class.is-invalid]="password.touched && password.invalid"
                required
                #password="ngModel"
                [(ngModel)]="signupData.data.password"
                name="password"
              />
              <small
                *ngIf="password.touched && password.invalid"
                class="text-danger"
              >
                Điền vào trường này!
              </small>

              <small *ngIf="signupData.error" class="text-danger">
                {{ signupData.error }}!
              </small>
            </div>

            <div class="d-grid gap-2">
              <button
                class="btn btn-dark"
                type="submit"
                [disabled]="signupForm.invalid || signupData.loading"
              >
                {{
                  signupData.loading ? "Đang đăng ký..." : "Đăng ký miễn phí"
                }}
              </button>
              <a class="btn btn-sm btnLight" routerLink="/login">
                Bạn đã có tài khoản? Đăng nhập
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5"></div>
</div>
